# OpenSearch
OPENSEARCH_PASS=StrongPass@123

# Log Collector
RATE_LIMIT=100

# Cloudflare Tunnel (lấy từ dashboard.cloudflare.com → Zero Trust → Tunnels)
CLOUDFLARE_TUNNEL_TOKEN=eyJhIjoiM2YwNTI5MzE0YzUxZjFjOTJhY2IyN2EzYzViNWVjMzMiLCJzIjoiZ1gvNFBMMnlYZVo2OFo1OVNQVUxZbmNSa25EdE00aWd5dXpaYWFsUG1yND0iLCJ0IjoiZTU5M2UxZWEtMjRjMS00MWIwLTk1N2EtNWFkMTllYTkzYTg1In0=
